@model ExamenFinal.Models.Telefono

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Desea Eliminar el registro?</h3>
<div>
    <h4>Telefono</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color.colorcell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color.colorcell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ensamble.pais)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ensamble.pais)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gama.gamacell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gama.gamacell)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            
        </div>
    }
</div>
<br />
<br />
<div><a href="/TelefonoMVC/Detalles">REGRESAR</a></div>
